
services:
  postgres:
    image: postgres:15
    container_name: agro_postgres
    environment:
      POSTGRES_USER: agro_admin
      POSTGRES_PASSWORD: agro_password
      POSTGRES_DB: agro_link_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  adminer:
    image: adminer
    ports:
      - "8080:8080"
volumes:
  postgres_data: